[user]
	name = Doug Goldstein
	email = cardoe@cardoe.com
[core]
	excludesfile = ~/.gitignore_global
[imap]
	folder = [Gmail]/Drafts
	host = imaps://imap.gmail.com
	user = cardoe@cardoe.com
[sendemail]
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpencryption = tls
	smtpuser = cardoe@cardoe.com
	chainreplyto = false
[alias]
	st = status
	satus = status
	review = !sh -c 'repo=$1 && repo=${repo:=origin/master} && git --no-pager log --reverse --oneline ${repo}..' -
	revshow = !sh -c 'repo=$1 && repo=${repo:=origin/master} && git --no-pager log --reverse --oneline ${repo}.. | head -n ${0} | tail -n 1 | cut -f1 -d \" \" | xargs git show'
	cp = cherry-pick -x
	ver = describe --match=v* --contains
	show-ignore = ls-files -ci --exclude-standard
	graph = log --graph --abbrev-commit --decorate --date=relative --all
[diff]
	renames = true
[pull]
	ff = only
	rebase = true
[push]
	default = simple
[credential]
	helper = osxkeychain
	helper = cache --timeout=3600
[credential "https://github.com"]
	username = cardoe
[color]
	ui = auto
[commit]
	gpgsign = true
[rerere]
	enabled = true
