[user]
	name = Doug Goldstein
	email = cardoe@cardoe.com
[core]
	excludesfile = ~/.gitignore_global
[imap]
	folder = [Gmail]/Drafts
	host = imaps://imap.gmail.com
	user = cardoe@cardoe.com
[sendemail]
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpencryption = tls
	smtpuser = cardoe@cardoe.com
	chainreplyto = false
[alias]
	st = status
	satus = status
	review = !sh -c 'repo=$1 && repo=${repo:=origin/master} && git --no-pager log --reverse --oneline ${repo}..' -
	cp = cherry-pick -x
	ver = describe --match=v* --contains
[diff]
	renames = true
[push]
	default = simple
[credential]
	helper = osxkeychain
[color]
	ui = auto
